In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [ ]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
# We can view all of the classes that automap found
Base.classes.keys()

In [ ]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [ ]:
#Pull out the columns by creating a dictiononary from measurement
measurement_dict = session.query(Measurement).first()
measurement_dict.__dict__

In [ ]:
#Pull out the columns by creating a dictiononary from station
station_dict = session.query(Station).first()
station_dict.__dict__

In [ ]:
#Create connection with engine to query to order by date DESC
conn = engine.connect()
last_date = pd.read_sql("SELECT date FROM Measurement ORDER BY date DESC", conn)
pd.read_sql
last_date.head()

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
#print using datetime
ordered_by_date = session.query(Measurement).order_by(Measurement.date.desc())
last_day = ordered_by_date.first().date
print(last_day)

In [ ]:
#Last year using date time
last_yr = dt.date(2017, 8, 23) - dt.timedelta(days=365)
# Perform a query to retrieve the data and precipitation scores
prcp_scores = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date > last_yr).all()

In [ ]:
# Save the query results as a Pandas DataFrame and set the index to the date column
prcp_scores_df = pd.DataFrame(prcp_scores)
prcp_scores_df = prcp_scores_df.set_index('date')
#prcp_scores_df.head()

In [ ]:
# Sort the dataframe by date
prcp_scores_df = prcp_scores_df.sort_index()
prcp_scores_df.head()

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data
ax = prcp_scores_df.plot(color = 'green')
plt.gcf().set_size_inches(12, 7)

ax.set_title("Honolulu Precipitation (2016-08-24, 2017-08-23)", fontsize=20)
ax.set_ylabel('Precipitation',  fontsize=20)
ax.set_xlabel('Date',  fontsize=20)

plt.grid=True
plt.legend(['Precipitation'], loc="best")
plt.tight_layout()
plt.savefig("./My_results/HI_Prcp_plot.png")
plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
prcp_scores_df.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
station_amt = session.query(Station).count()
station_amt

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
active_stations = session.query(Measurement.station, func.count(Measurement.station)).group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

active_stations

In [ ]:
most_active= active_stations[0]
most_active

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

#tobs_measurement =session.query(Measurement.station, Measurement.date, Measurement.tobs).filter(Measurement.date > last_yr).all()
#tobs_df = pd.DataFrame(tobs_measurement)
#tobs_df = tobs_df.set_index('date')
#station_activity = tobs_df.loc[tobs_df["station"]=="USC00519281"]

sel = [func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)]
session.query(*sel).all()

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
tobs_stmt = session.query(Measurement.station, Measurement.tobs).filter(Measurement.station == 'USC00519281').filter(Measurement.date>= last_yr).statement

tobsHist_df = pd.read_sql(tobs_stmt, conn)
tobsHist_df.plot(kind='hist', bins=12)
plt.show()
plt.savefig('./My_results/Honolulu_Hist.png')

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05')

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.
def calc_temps(start_date, end_date):
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()
# function usage
Trip_avg_temp=calc_temps('2017-08-10', '2017-08-23')
Trip_avg_temp

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)
import seaborn as sns
plt.figure(figsize=(3,6))
sns.barplot(data= Trip_avg_temp, color= 'green' )
plt.ylabel('Temp (F)')
plt.xlabel('13 Day Avg Temp')
plt.title('Trip Avg Temp')

plt.tight_layout()
plt.show()

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

Tot_rain =session.query(Measurement.station, Measurement.prcp, Station.name, Station.latitude, Station.longitude, Station.elevation).\
    filter(Measurement.date.between('2017-07-23','2017-08-23')).\
    group_by(Measurement.station).\
    join(Station, Measurement.station==Station.station).\
    order_by(Measurement.prcp.desc()).all()
Tot_rain

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`